
	<div ng-controller="menuCtrl" ng-init="init()">

		<nav class="navbar is-primary" role="navigation"
			aria-label="dropdown navigation">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link"> Repozytorium polis</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" ng-click="szukajPolise()"> Wyszukaj
						polisę </a> 
					<a class="navbar-item" ng-click="doPolisy()">
						Zarejestruj polisę </a> <a class="navbar-item"> Wygeneruj raporty
					</a>
					<hr class="navbar-divider">
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link"> Repozytorium osób </a>

				<div class="navbar-dropdown">
					<a class="navbar-item" ng-click="szukajOsobe()"> Wyszukaj osobę </a>
					<a class="navbar-item" ng-click="doOsoby()"> Zarejestruj osobę </a>
					<a class="navbar-item"> Wygeneruj raporty </a>
					<hr class="navbar-divider">
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link"> Repozytorium przedmiotów </a>

				<div class="navbar-dropdown">
					<a class="navbar-item"> Wyszukaj przedmiot </a> <a
						class="navbar-item" href="rejestracjaprzedmiotow.html">
						Zarejestruj przedmiot </a> <a class="navbar-item"> Wygeneruj
						raporty </a>
					<hr class="navbar-divider">
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link"> Dane sieci sprzedaży </a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="wyszukiwanieagentow.html">
						Wyszukaj agenta </a> <a class="navbar-item"> Wygeneruj listę
						agentów </a>
					<hr class="navbar-divider">
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link"> Dane ubezpieczeń </a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="wyszukiwanieubezpieczen.html">
						Wyszukaj ubezpieczenie </a> <a class="navbar-item"> Wygeneruj
						raport dla ubezpieczenia </a>
					<hr class="navbar-divider">
				</div>
			</div>
		</nav>
	</div>
