	<div ng-controller="mojCtrl" class="container is-widescreen">
		<ng-include src="'menu.html'"></ng-include>

		<br />

		<div class="columns">

			<form class="column is-6 is-offset-3">
				<h1 class="title">Podaj dane polisy</h1>
				<div class="field is-small">
					<label class="label">Numer polisy</label>
					<div class="control">
						<input class="input" type="text" placeholder="Numer polisy"
							ng-model="modelpolisy.policyNumber">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Data podpisania</label>
					<div class="control">
						<input class="input" type="date" placeholder="yyyy-MM-DD" date-format = "yyyy-MM-dd"
							ng-model="modelpolisy.signDate">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Ubezpieczajacy</label>
					<div class="control">
						<input class="input" type="text" placeholder="Ubezpieczajacy"
							ng-model="modelpolisy.ubezpieczajacy">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Składka</label>
					<div class="control">
						<input class="input" type="number" placeholder="Składka polisy"
							ng-model="modelpolisy.skladka">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Status</label>
					<div class="select is-fullwidth">
						<select name="status" ng-model="modelpolisy.statusPolisy"
							ng-options="option as option for option in statusy">
						</select>
					</div>
				</div>

			</form>
		</div>


		<div class="field is-grouped is-grouped-centered">
			<div class="control">
				<button class="button is-link" ng-click="zapiszPolise()">Zapisz</button>
			</div>
			<div class="control">
				<button class="button is-text">Cancel</button>
			</div>
		</div>

	</div>
