<div ng-controller="mojCtrl" class="container is-widescreen">
    <ng-include src="'menu.html'"></ng-include>

    <br />

    <div class="columns">

        <form class="column is-6 is-offset-3">
            <h1 class="title">Podaj dane osoby</h1>
            <div class="field is-small">
                <label class="label">Imię</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Imię"
                        ng-model="modelosoby.firstName">
                </div>
            </div>

            <div class="field is-small">
                <label class="label">Nazwisko</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Nazwisko"
                        ng-model="modelosoby.lastName">
                </div>
            </div>

            <div class="field is-small">
                <label class="label">Pesel</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Pesel"
                        ng-model="modelosoby.pesel">
                </div>
            </div>

            <div class="field is-small">
                <label class="label">Data urodzenia</label>
                <div class="control">
                    <input class="input" type="date" placeholder="yyyy-MM-DD" date-format = "yyyy-MM-dd"
                        ng-model="modelosoby.birthDate">
                </div>
            </div>
        </form>
    </div>
    <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button class="button is-link" ng-click="zapiszOsobePost()">Zapisz Osobę</button>
            </div>
        </div>

</div>