	<div ng-controller="mojCtrl" class="container is-widescreen">
		<ng-include src="'menu.html'"></ng-include>

		<br />

		<div class="columns">

			<form class="column is-6 is-offset-3">
				<h1 class="title">Podaj dane polisy</h1>
				<div class="field is-small">
					<label class="label">Numer polisy</label>
					<div class="control">
						<input class="input" type="text" placeholder="Numer polisy"
							ng-model="modelpolisy.policyNumber">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Data podpisania</label>
					<div class="control">
						<input class="input" type="date" placeholder="yyyy-MM-DD" date-format = "yyyy-MM-dd"
							ng-model="modelpolisy.signDate">
					</div>
				</div>

				<!--div class="field is-small">
					<label class="label">Pesel</label>
					<div class="control">
						<input class="input" type="text" placeholder="Pesel"
							ng-model="modelosoby.pesel">
					</div>
				</di-->

				<div class="field is-small">
					<label class="label">Składka</label>
					<div class="control">
						<input class="input" type="number" placeholder="Składka polisy"
							ng-model="modelpolisy.premium">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Status</label>
					<div class="select is-fullwidth">
						<select name="status" ng-model="modelpolisy.status"
							ng-options="option as option for option in statusy">
						</select>
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Pesel</label>
					<div class="control">
						<input class="input" type="text" placeholder="Pesel"
							ng-model="modelosoby.pesel">
					</div>
					<div class="control">
						<button class="button is-link" ng-click="wyszukajOsobyPesel()">Wyszukaj Osobę</button>
					</div>
				</div>

				<div class="tile is-ancestor">
					<div class="tile is-vertical is-8">
					  <div class="tile">
						<div class="tile is-parent is-vertical">
						  <article class="tile is-child notification is-primary">
							<p class="title">Vertical...</p>
							<p class="subtitle">Top tile</p>
						  </article>
						  <article class="tile is-child notification is-warning">
							<p class="title">...tiles</p>
							<p class="subtitle">Bottom tile</p>
						  </article>
						</div>
						<div class="tile is-parent">
						  <article class="tile is-child notification is-info">
							<p class="title">Middle tile</p>
							<p class="subtitle">With an image</p>
							<figure class="image is-4by3">
							  <img src="https://bulma.io/images/placeholders/640x480.png">
							</figure>
						  </article>
						</div>
					  </div>
					  <div class="tile is-parent">
						<article class="tile is-child notification is-danger">
						  <p class="title">Wide tile</p>
						  <p class="subtitle">Aligned with the right tile</p>
						  <div class="content">
							<!-- Content -->
						  </div>
						</article>
					  </div>
					</div>
					<div class="tile is-parent">
					  <article class="tile is-child notification is-success">
						<div class="content">
						  <p class="title">Tall tile</p>
						  <p class="subtitle">With even more content</p>
						  <div class="content">
							<!-- Content -->
						  </div>
						</div>
					  </article>
					</div>
				  </div>

				<div class="field is-small">
					<label class="label">Początek okresu ochrony</label>
					<div class="control">
						<input class="input" type="date" placeholder="yyyy-MM-DD" date-format = "yyyy-MM-dd"
							ng-model="modelpolisy.insuranceStartDate">
					</div>
				</div>

				<div class="field is-small">
					<label class="label">Koniec okresu ochrony</label>
					<div class="control">
						<input class="input" type="date" placeholder="yyyy-MM-DD" date-format = "yyyy-MM-dd"
							ng-model="modelpolisy.insuranceEndDate">
					</div>
				</div>


			</form>
		</div>


		<!--div class="field is-grouped is-grouped-centered">
			<div class="control">
				<button class="button is-link" ng-click="zapiszPolise()">Zapisz</button>
			</div>
			<div class="control">
				<button class="button is-text">Cancel</button>
			</div>
		</div-->

		<div class="field is-grouped is-grouped-centered">
				<div class="control">
					<button class="button is-link" ng-click="zapiszPolisePost()">Zapisz Polisę</button>
				</div>
				<div class="control">
					<button class="button is-text">Cancel</button>
				</div>
			</div>

	</div>
