	<div ng-controller="mojCtrl" class="container is-widescreen">

		<ng-include src="'menu.html'"></ng-include>

		<br />

		<div class="columns">

			<form class="column is-6 is-offset-3">
				<h1 class="title">Podaj dane polisy</h1>
				<div class="field is-small">
					<label class="label">Numer polisy</label>
					<div class="control">
						<input class="input" type="search" placeholder="Numer polisy"
							ng-model="modelpolisy.policyNumber">
					</div>
				</div>
				<div class="field is-small">
					<label class="label">Status</label>
					<div class="select is-fullwidth">
						<select name="status" ng-model="modelpolisy.status"
							ng-options="option as option for option in statusy">
						</select>
					</div>
				</div>
				<div class="field is-small">
					<label class="label">Ubezpieczenie</label>
					<div class="select is-fullwidth">
						<select name="ubezpieczenie"
							ng-model="modelpolisy.symbolubezpieczenia"
							ng-options="option as option for option in symbole">
						</select>
					</div>
				</div>
			</form>

		</div>

		<div class="field is-grouped is-grouped-centered">
			<div class="control">
				<button class="button is-link" ng-click="wyszukajPolisy()">Wyszukaj polisy</button>
			</div>
			<div class="control">
				<button class="button is-link" ng-click="wyszukajPolisyNumer()">Wyszukaj polisy po Numerze</button>
			</div>
		</div>

		<br />

		<nav class="panel">
			<p class="panel-heading">Polisy</p>
			<div class="panel-block">
				<table ng-if="polisy.length > 0"
					class="table is-striped is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>ID</th>
							<th>Numer</th>
							<th>Data zawarcia</th>
							<th>Skladka (PLN)</th>
							<th>Status</th>
							<th>Okres ochrony od</th>
							<th>Okres ochrony do</th>
							<th>Ubezpieczony</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="polisa in polisy">
							<td>{{polisa.id}}</td>
							<td>{{polisa.policyNumber}}</td>
							<td>{{polisa.signDate}}</td>
							<td>{{polisa.premium}}</td>
							<td>{{polisa.status}}</td>
							<td>{{polisa.insuranceStartDate}}</td>
							<td>{{polisa.insuranceEndDate}}</td>
							<td>{{polisa.insured.firstName}} {{polisa.insured.lastName}} {{polisa.insured.pesel}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</nav>
	</div>
