<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script src="rejestracjapolisy.js"></script>
    <script src="wyszukiwaniepolis.js"></script>
</head>

<body ng-app="app">
    <div ng-controller="mojCtrl" class="container is-widescreen">

        <ng-include src="'menu.html'"></ng-include>

        <br/>

        <div class="columns">

            <form class="column is-6 is-offset-3">
                <h1 class="title">Podaj numer agenta</h1>
                <div class="field is-small">
                    <label class="label">Numer agenta</label>
                    <div class="control">
                            <input class="input" type="text" placeholder="Numer agenta">
                    </div>
                </div>
            </form>
        </div>

        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button class="button is-link" ng-click="wyszukajPoNumerze()">Pokaż informacje o agencie
                </button>
            </div>
        </div>

        <br/>

        <nav class="panel">
            <p class="panel-heading">Informacje o agencie</p>
            <div class="panel-block">
                <table ng-if="ubezpieczenia.length > 0" class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Symbol ubezpieczenia</th>
                            <th>Opis</th>
                            <th>W sprzedaży od</th>
                            <th>W sprzedaży do</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ubezpieczenie in ubezpieczenia">
                            <td>{{ubezpieczenie.symbol}}</td>
                            <td>{{ubezpieczenie.opis}</td>
                            <td>{{ubezpieczenie.dataod}}</td>
                            <td>{{ubezpieczenie.datado}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nav>
    </div>
</body>

</html>